<!DOCTYPE html>
<html>
<head>
  <title>Resell Companion — Captcha Solver</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <style>
    .flex {
      display: flex;
    }
    .justify-center {
      justify-content: center;
    }
    .items-center {
      align-items: center;
    }
    .mt-6 {
      /* margin-top: 1.5rem; */
			margin-top: 75%;
    }
  </style>
</head>
<body style="overflow: hidden; display: block; background-color: {{CAPTCHA_BACKGROUND_COLOR}}">
  <div class="flex justify-center items-center mt-6">
    <div id="captchaFrame" class="g-recaptcha" data-callback="sendCaptcha" data-theme="{{CAPTCHA_THEME}}" data-sitekey="{{CAPTCHA_SITEKEY}}"></div>
  </div>

  <!-- FORCE RENDER THE CAPTCHA IF IT HAS NOT ALREADY BEEN INITIALIZED AND RENDERED -->
  <script>
    function captchaSleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    (async () => {
      if (typeof grecaptcha !== "undefined") return;
      while (typeof grecaptcha === "undefined") await captchaSleep(50);
      while (!document.querySelector("#captchaFrame iframe")) {
        tryRenderCaptcha();
        await captchaSleep(50);
      }
    })();

    function tryRenderCaptcha() {
      try {
        grecaptcha.render("captchaFrame", {
          "sitekey": "{{CAPTCHA_SITEKEY}}"
        });
      } catch(err) { /* captcha not yet initialized */ }
    }
  </script>

  <script>
    function sendCaptcha() {
      console.log("\${CC} CAPTCHA RESPONSE: " + grecaptcha.getResponse());
      grecaptcha.reset();
    }
  </script>
</body>
</html>
