.mediaViewInfo {
	--web-view-name: Rewrite – Overview;
	--web-view-id: Rewrite___Overview;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Rewrite___Overview;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Rewrite___Overview_Class {
	position: absolute;
	width: 1287px;
	height: 795px;
	background-color: rgba(251,247,241,1);
	overflow: hidden;
	--web-view-name: Rewrite – Overview;
	--web-view-id: Rewrite___Overview;
	--web-enable-deep-linking: true;
}

.Content_Class {
	position: absolute;
	width: 963.728px;
	height: 516.609px;
	left: 161.581px;
	top: 114.391px;
	overflow: visible;
}
.Left_Graph_Class {
	position: absolute;
	width: 639px;
	height: 296px;
	left: 0.419px;
	top: 220.609px;
	overflow: visible;
}
.Graph_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 657px;
	height: 314px;
	left: 0px;
	top: 0px;
}
.Sample_Graph_Class {
	position: absolute;
	width: 631px;
	height: 276px;
	left: 4px;
	top: 11px;
	overflow: visible;
}
.Right_Graph_Class {
	position: absolute;
	width: 309px;
	height: 296px;
	left: 654.419px;
	top: 220.609px;
	overflow: visible;
}
.Graph_Rectangle_eu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 314px;
	left: 0px;
	top: 0px;
}
.Sample_Graph_ev_Class {
	position: absolute;
	width: 209px;
	height: 214px;
	left: 11px;
	top: 54px;
	overflow: visible;
}
.Cards_Area_ew_Class {
	position: absolute;
	width: 52.365px;
	height: 14px;
	left: 226.57px;
	top: 189px;
	overflow: visible;
}
.Cards_Class {
	position: absolute;
	left: 18.365px;
	top: 0px;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(29,29,29,1);
}
.Cards_Icon {
	overflow: visible;
	position: absolute;
	width: 11.223px;
	height: 13.639px;
	left: 0px;
	top: 0.311px;
	transform: matrix(1,0,0,1,0,0);
}
.Tickets_Area_ez_Class {
	position: absolute;
	width: 62.719px;
	height: 14px;
	left: 224.216px;
	top: 166.354px;
	overflow: visible;
}
.Tickets_Class {
	position: absolute;
	left: 20.719px;
	top: 0px;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(29,29,29,1);
}
.Tickets_Icon {
	overflow: visible;
	position: absolute;
	width: 15.977px;
	height: 10.651px;
	left: 0px;
	top: 1.577px;
	transform: matrix(1,0,0,1,0,0);
}
.Bots_Area_e_Class {
	position: absolute;
	width: 46.719px;
	height: 15.618px;
	left: 224.216px;
	top: 142px;
	overflow: visible;
}
.Bots_Class {
	position: absolute;
	left: 20.719px;
	top: 1.618px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(29,29,29,1);
}
.Bots_Icon {
	overflow: visible;
	position: absolute;
	width: 15.977px;
	height: 12.781px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Inventory_Area_e_Class {
	position: absolute;
	width: 72.935px;
	height: 14px;
	left: 226px;
	top: 118.986px;
	overflow: visible;
}
.Inventory_Class {
	position: absolute;
	left: 18.935px;
	top: 0px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -12px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(29,29,29,1);
}
.Inventory_Icon_Class {
	position: absolute;
	width: 12.346px;
	height: 12.856px;
	left: 0px;
	top: 0.158px;
	overflow: visible;
}
.Path_444 {
	overflow: visible;
	position: absolute;
	width: 12.645px;
	height: 13.154px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_445 {
	overflow: visible;
	position: absolute;
	width: 3.2px;
	height: 1.641px;
	left: 8.266px;
	top: 9.286px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_446 {
	overflow: visible;
	position: absolute;
	width: 2.683px;
	height: 1.455px;
	left: 8.782px;
	top: 7.164px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_447 {
	overflow: visible;
	position: absolute;
	width: 2.681px;
	height: 1.449px;
	left: 8.784px;
	top: 8.209px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_448 {
	overflow: visible;
	position: absolute;
	width: 0.817px;
	height: 0.763px;
	left: 7.485px;
	top: 10.65px;
	transform: matrix(1,0,0,1,0,0);
}
.Portfolio_Value_Class {
	position: absolute;
	left: 11.452px;
	top: 6.52px;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Profit_Area_Class {
	position: absolute;
	width: 309.728px;
	height: 87.729px;
	left: 654px;
	top: 116.386px;
	overflow: visible;
}
.Rectangle_ff {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 327.728px;
	height: 105.729px;
	left: 0px;
	top: 0px;
}
.Text_Class {
	position: absolute;
	left: 49.419px;
	top: 36.224px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	line-height: 52px;
	margin-top: -13.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(29,29,29,1);
}
.Title_fh_Class {
	position: absolute;
	left: 49.871px;
	top: 4.743px;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -9.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Side_Rectangle {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 87.729px;
	left: 0px;
	top: 0px;
}
.Arrow_Icon_Class {
	opacity: 0.66;
}
.Arrow_Icon {
	overflow: visible;
	position: absolute;
	width: 21.998px;
	height: 21.998px;
	transform: translate(-0.04px, 0px) matrix(1,0,0,1,242.8951,42.2353) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.ID30_Class {
	opacity: 0.66;
	position: absolute;
	left: 268.419px;
	top: 48.224px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(53,178,57,1);
}
.Arrow_Class {
	position: absolute;
	left: 282.419px;
	top: 5.224px;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Graph_Icon {
	overflow: visible;
	position: absolute;
	width: 19.108px;
	height: 19.108px;
	left: 17.51px;
	top: 6.115px;
	transform: matrix(1,0,0,1,0,0);
}
.Revenue_Area_Class {
	position: absolute;
	width: 309.728px;
	height: 87.729px;
	left: 327px;
	top: 116.386px;
	overflow: visible;
}
.Rectangle_fo {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 327.728px;
	height: 105.729px;
	left: 0px;
	top: 0px;
}
.Text_fp_Class {
	position: absolute;
	left: 49.419px;
	top: 36.224px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	line-height: 52px;
	margin-top: -13.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(29,29,29,1);
}
.Title_fq_Class {
	position: absolute;
	left: 49.871px;
	top: 4.743px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -9.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,0.659);
}
.Side_Rectangle_fr {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 87.729px;
	left: 0px;
	top: 0px;
}
.Arrow_Icon_fs_Class {
	opacity: 0.66;
}
.Arrow_Icon_fs {
	overflow: visible;
	position: absolute;
	width: 21.998px;
	height: 21.998px;
	transform: translate(-0.04px, 0px) matrix(1,0,0,1,242.8951,42.2353) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.ID30_ft_Class {
	opacity: 0.66;
	position: absolute;
	left: 268.419px;
	top: 48.224px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(53,178,57,1);
}
.Arrow_fu_Class {
	position: absolute;
	left: 282.419px;
	top: 5.224px;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Suit_Case_Icon {
	overflow: visible;
	position: absolute;
	width: 22.087px;
	height: 19.326px;
	left: 15.97px;
	top: 5.417px;
	transform: matrix(1,0,0,1,0,0);
}
.Spent_Area_Class {
	position: absolute;
	width: 309.728px;
	height: 87.729px;
	left: 0px;
	top: 116.386px;
	overflow: visible;
}
.Rectangle_fx {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 327.728px;
	height: 105.729px;
	left: 0px;
	top: 0px;
}
.Text_fy_Class {
	position: absolute;
	left: 49.419px;
	top: 36.224px;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	line-height: 52px;
	margin-top: -13.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(29,29,29,1);
}
.Title_fz_Class {
	position: absolute;
	left: 49.871px;
	top: 4.743px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -9.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Side_Rectangle_f {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 87.729px;
	left: 0px;
	top: 0px;
}
.Arrow_Icon_f_Class {
	opacity: 0.66;
}
.Arrow_Icon_f {
	overflow: visible;
	position: absolute;
	width: 21.998px;
	height: 21.998px;
	transform: translate(-0.04px, 0px) matrix(1,0,0,1,242.8951,42.2353) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.ID30_f_Class {
	opacity: 0.66;
	position: absolute;
	left: 268.419px;
	top: 48.224px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(53,178,57,1);
}
.Arrow_f_Class {
	position: absolute;
	left: 282.419px;
	top: 5.224px;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Dollars_Icon {
	overflow: visible;
	position: absolute;
	width: 24.622px;
	height: 15.576px;
	left: 14.543px;
	top: 7.193px;
	transform: matrix(1,0,0,1,0,0);
}
.Top_Section_Class {
	position: absolute;
	width: 664.459px;
	height: 88.609px;
	left: 149.96px;
	top: 0px;
	overflow: visible;
}
.Spent_Title_Class {
	position: absolute;
	left: 241px;
	top: 59px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Search_Bar_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 54px;
	left: 64.459px;
	top: 52.609px;
}
.Search_Text_Class {
	opacity: 0.66;
	position: absolute;
	left: 105.459px;
	top: 61.609px;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Spent_Title_f_Class {
	position: absolute;
	left: -181px;
	top: 59px;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Group_251_Class {
	position: absolute;
	width: 330px;
	height: 36px;
	left: 334.459px;
	top: 52.609px;
	overflow: visible;
}
.Search_Bar_Rectangle_gb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 348px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Search_Area_Class {
	position: absolute;
	width: 165px;
	height: 36px;
	left: 165px;
	top: 0px;
	overflow: visible;
}
.Search_Bar_Class {
	position: absolute;
	width: 165px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Search_Bar_Rectangle_ge {
	position: absolute;
	overflow: visible;
	width: 165px;
	height: 36px;
	left: 0px;
	top: 0px;
}
.Search_Text_gf_Class {
	position: absolute;
	left: 34px;
	top: 9px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Icon_awesome_calendar_alt_Class {
	opacity: 0.66;
}
.Icon_awesome_calendar_alt {
	overflow: visible;
	position: absolute;
	width: 14.165px;
	height: 16.189px;
	left: 12.667px;
	top: 9.905px;
	transform: matrix(1,0,0,1,0,0);
}
.Search_Area_gh_Class {
	position: absolute;
	width: 165px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Search_Bar_gi_Class {
	position: absolute;
	width: 165px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Search_Bar_Rectangle_gj {
	position: absolute;
	overflow: visible;
	width: 165px;
	height: 36px;
	left: 0px;
	top: 0px;
}
.Search_Text_gk_Class {
	position: absolute;
	left: 12px;
	top: 9px;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Separator {
	width: 18px;
	height: 3px;
	position: absolute;
	overflow: visible;
	transform: translate(106px, 53px) matrix(1,0,0,1,50,-35) rotate(90deg);
	transform-origin: center;
}
.Welcome_back_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 100%;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -8.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(29,29,29,1);
}
.Header_Class {
	position: absolute;
	width: 194px;
	height: 48px;
	left: 25.411px;
	top: 18.124px;
	overflow: visible;
}
.Purple_Bar {
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 3px;
	left: 17.589px;
	top: 40.876px;
}
.Sales_Title_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -1px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	color: rgba(29,29,29,1);
}
