#dateRangeFilter:disabled {
	opacity: 1;
}

.white-input-icon::-webkit-calendar-picker-indicator {
	filter: invert(100%);
}
.white-input-icon::-webkit-inner-spin-button {
	filter: invert(100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#pageContent {
	width: 1275px;
	height: 795px;
	top: 50px;
	position: absolute;
}
#modalContent {
	width: 1275px;
	height: 795px;
	background-color: transparent;
	top: 0px;
	position: absolute;
}
#subpageContent {
	width: 1275px;
	height: 795px;
	background-color: transparent;
	top: 0px;
	position: absolute;
}

.resizable-switch-area {
	position: absolute;
	width: 415px;
	height: 25px;
	line-height: 26px;
}

.center-contents {
	display: flex;
  justify-content: center;
  align-items: center;
}
.centered-content {
	text-align: center;
	padding-left: 25px;
	padding-right: 50px;
	padding-bottom: 50%;

	font-size: 0.9em;
	font-weight: normal;
	opacity: 0.9;
	color: rgb(239, 239, 239);
}

.special-focus {
	outline: none;
}
.special-focus:focus {
	box-shadow: 0 0 4px rgba(30,65,166,1);
}
.special-focus-dark:focus {
	box-shadow: 0 0 4px #b89d96;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	user-select: none;
}

.text-selectable {
  user-select: text;
}
.transparentify {
  mix-blend-mode: multiply;
}

.hover-light-opacity:hover {
  opacity: 0.9;
}
.hover-opacity:hover {
  opacity: 0.75;
}
.hover-underline:hover {
  text-decoration: underline;
}
.clickable:hover {
  cursor: pointer;
}
.unclickable:hover {
  cursor: not-allowed;
}

body {
  font-family: "SF Pro Text", san-serif;
  user-select: none;
  overflow: hidden;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.use_transitions {
  transition: 0.05s all ease-out;
}
.use_light_transitions {
  transition: 0.1s all ease-out;
}
.use_slow_transitions {
  transition: 0.33s all ease-out;
}

[v-cloak] {
   display: none;
}

.clearAll:hover {
  cursor: pointer;
  opacity: 0.85;
}

.clipGroup {
  overflow: hidden;
  width: 107px;
  height: 36px;
  transition: 0.5s all ease-out;
  clip-path: inset(0px round 20px);
}

.Back_Transitioner {
  overflow: visible;
  position: absolute;
  width: 137.6px;
  height: 34.565px;
  transform: scaleY(1);
  transition: 0.5s all ease-out;
}
.Front_Transitioner {
  overflow: visible;
  position: absolute;
  width: 137.6px;
  height: 26.969px;
  transform: scaleY(1);
  transition: 0.5s all ease-out;
}

.black-arrow {
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 5px;
	-webkit-appearance: none;
}

.white-arrow {
	background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 5px;
	-webkit-appearance: none;
}

.Search_Bar_Class {
	border-radius: 20px;
	/* text-indent: 40px; */
	padding-left: 40px;
	padding-right: 20px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 474px;
	height: 36px;
	left: 473.217px;
	top: 5.876px;
	overflow: visible;

	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Magnifying_Glass_Icon {
	opacity: 0.66;
	overflow: visible;
	position: absolute;
	width: 17.337px;
	height: 17.337px;
	left: 487px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}

.Arrows_Icon_Class {
	opacity: 0.66;
	position: absolute;
	left: 9px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
	letter-spacing: -2.75px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  /* border: 1px solid rgba(243,224,185,1); */
  /* border-radius: 10px; */

  /* background: #fbf7f1; */
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgba(243,224,185,1);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfcfac;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #755277;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
  border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #836685;
}

[data-tooltip] {
  display: inline-block;
  position: relative;
  cursor: help;
  padding: 4px;
  /* z-index: 1000; */
}
/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
  z-index: 1000;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
}
[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
  z-index: 1000;
}
[data-tooltip-position="right"]:before {
  left: 100%;
  margin-left: 6px;
  z-index: 1000;
}
[data-tooltip-position="bottom"]:before {
  top: 100%;
  margin-top: 6px;
  z-index: 1000;
}
[data-tooltip-position="left"]:before {
  right: 100%;
  margin-right: 6px;
  z-index: 1000;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
  left: 50%;
  margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
  top: 50%;
  margin-top: -6px;
}
[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #000;
}
[data-tooltip-position="right"]:after {
  left: 100%;
  border-width: 6px 6px 6px 0;
  border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
  top: 100%;
  border-width: 0 6px 6px;
  border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
  right: 100%;
  border-width: 6px 0 6px 6px;
  border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
