#pageContent {
	width: 1275px;
	height: 795px;
	top: 50px;
	position: absolute;
}
#modalContent {
	width: 1275px;
	height: 795px;
	background-color: transparent;
	top: 0px;
	position: absolute;
}

.center-contents {
	display: flex;
  justify-content: center;
  align-items: center;
}
.centered-content {
	text-align: center;
	padding-left: 25px;
	padding-right: 50px;
	padding-bottom: 50%;

	font-size: 0.9em;
	font-weight: normal;
	opacity: 0.9;
	color: rgb(239, 239, 239);
}

.special-focus {
	outline: none;
}
.special-focus:focus {
	box-shadow: 0 0 4px rgba(30,65,166,1);
}
.special-focus-dark:focus {
	box-shadow: 0 0 4px #b89d96;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	user-select: none;
}

.text-selectable {
  user-select: text;
}
.transparentify {
  mix-blend-mode: multiply;
}

.hover-light-opacity:hover {
  opacity: 0.9;
}
.hover-opacity:hover {
  opacity: 0.75;
}
.hover-underline:hover {
  text-decoration: underline;
}
.clickable:hover {
  cursor: pointer;
}
.unclickable:hover {
  cursor: not-allowed;
}

body {
  font-family: "SF Pro Text", san-serif;
  user-select: none;
  overflow: hidden;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.use_transitions {
  transition: 0.05s all ease-out;
}
.use_light_transitions {
  transition: 0.1s all ease-out;
}

[v-cloak] {
   display: none;
}

.clearAll:hover {
  cursor: pointer;
  opacity: 0.85;
}

.clipGroup {
  overflow: hidden;
  width: 107px;
  height: 36px;
  transition: 0.5s all ease-out;
  clip-path: inset(0px round 20px);
}

.Back_Transitioner {
  overflow: visible;
  position: absolute;
  width: 137.6px;
  height: 34.565px;
  transform: scaleY(1);
  transition: 0.5s all ease-out;
}
.Front_Transitioner {
  overflow: visible;
  position: absolute;
  width: 137.6px;
  height: 26.969px;
  transform: scaleY(1);
  transition: 0.5s all ease-out;
}

.Search_Bar_Class {
	border-radius: 20px;
	padding-left: 40px;
	padding-right: 20px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 474px;
	height: 36px;
	left: 473.217px;
	top: 5.876px;
	overflow: visible;

	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Magnifying_Glass_Icon {
	opacity: 0.66;
	overflow: visible;
	position: absolute;
	width: 17.337px;
	height: 17.337px;
	left: 487px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  /* border: 1px solid rgba(243,224,185,1); */
  /* border-radius: 10px; */

  /* background: #fbf7f1; */
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgba(243,224,185,1);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfcfac;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #755277;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
  border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #836685;
}
