.mediaViewInfo {
	--web-view-name: Rewrite – Market Lookup;
	--web-view-id: Rewrite___Market_Lookup;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Rewrite___Market_Lookup;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Rewrite___Market_Lookup_Class {
	position: absolute;
	width: 1287px;
	height: 795px;
	/* background-color: rgba(251,247,241,1); */
	overflow: hidden;
	--web-view-name: Rewrite – Market Lookup;
	--web-view-id: Rewrite___Market_Lookup;
	--web-enable-deep-linking: true;
}
.Navigation_Bar_Class {
	position: absolute;
	width: 1245.729px;
	height: 42.824px;
	left: 21px;
	top: 752.18px;
	overflow: visible;
}
.Cards_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 1098px;
	top: 0px;
	overflow: visible;
}
.Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_Class {
	position: absolute;
	left: 47.872px;
	top: 12.743px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Tickets_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 915px;
	top: 0px;
	overflow: visible;
}
.Rectangle_d {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_d_Class {
	position: absolute;
	left: 42.872px;
	top: 12.743px;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle_d {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Bots_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 732px;
	top: 0px;
	overflow: visible;
}
.Rectangle_ea {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_ea_Class {
	position: absolute;
	left: 53.872px;
	top: 12.743px;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle_ea {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Market_Lookup_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 549px;
	top: 0px;
	overflow: visible;
}
.Rectangle_eb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_eb_Class {
	position: absolute;
	left: 11.872px;
	top: 12.743px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle_ec {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Inventory_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 366px;
	top: 0px;
	overflow: visible;
}
.Rectangle_ee {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_ef_Class {
	position: absolute;
	left: 33.872px;
	top: 12.743px;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle_eg {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Sales_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 183px;
	top: 0px;
	overflow: visible;
}
.Rectangle_ei {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_ej_Class {
	position: absolute;
	left: 49.872px;
	top: 12.743px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle_ek {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Overview_Area_Class {
	position: absolute;
	width: 147.729px;
	height: 42.824px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_em {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 165.728px;
	height: 60.73px;
	left: 0.001px;
	top: 0px;
}
.Title_en_Class {
	position: absolute;
	left: 33.872px;
	top: 12.743px;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -0.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(29,29,29,1);
}
.Bottom_Rectangle_eo {
	position: absolute;
	overflow: visible;
	width: 147.728px;
	height: 3px;
	left: 0px;
	top: 39.823px;
}
.Market_Lookup_Area_ep_Class {
	position: absolute;
	width: 1178.5px;
	height: 301px;
	left: 80px;
	top: 418px;
	overflow: visible;
}
.Prices_Area_Class {
	position: absolute;
	width: 1120px;
	height: 297px;
	left: 75px;
	top: 15px;
	overflow: auto;
	overflow-y: hidden;
}
.Prices_Area_er_Class {
	position: absolute;
	width: 248.5px;
	height: 191px;
	left: 9px;
	top: 75px;
	overflow: visible;
}
.Lowest_Ask_Area_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 0px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_eu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_ex {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ey_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_e {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_e_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_fa {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fa_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_Area_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 119px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_e_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_fb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fb_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_e_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_fc {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fc_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_fc_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_fd {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fe_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_ff_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_fg {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fh_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Lowest_Ask_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_Class {
	position: absolute;
	left: 118px;
	top: 0px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Separator {
	width: 132px;
	height: 3px;
	position: absolute;
	overflow: visible;
	transform: translate(-145.666px, -90px) matrix(1,0,0,1,326.6655,197) rotate(90deg);
	transform-origin: center;
}
.Prices_Area_fl_Class {
	position: absolute;
	width: 248.5px;
	height: 191px;
	left: 273px;
	top: 0px;
	overflow: visible;
}
.Lowest_Ask_Area_fm_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 0px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_fn_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_fo {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fp_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_fq_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_fr {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fs_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_ft_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_fu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fv_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_fw_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_fx {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_fy_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_Area_fz_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 119px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_f_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_f {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_f_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_f_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_ga {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ga_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_f_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_gb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gb_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_f_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_gc {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gc_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Lowest_Ask_gc_Class {
	position: absolute;
	left: 9.999px;
	top: 0px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_gd_Class {
	position: absolute;
	left: 127.999px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Separator_ge {
	width: 132px;
	height: 3px;
	position: absolute;
	overflow: visible;
	transform: translate(-145.666px, -90px) matrix(1,0,0,1,326.6655,197) rotate(90deg);
	transform-origin: center;
}
.Prices_Area_gf_Class {
	position: absolute;
	width: 248.5px;
	height: 191px;
	left: 537px;
	top: 0px;
	overflow: visible;
}
.Lowest_Ask_Area_gg_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 0px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_gh_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_gi {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gj_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_gk_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_gl {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gm_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_gn_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_go {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gp_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_gq_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_gr {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gs_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_Area_gt_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 119px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_gu_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_gv {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gw_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_gx_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_gy {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_gz_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_g_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_g {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_g_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_g_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_ha {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ha_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Lowest_Ask_g_Class {
	position: absolute;
	left: 9.999px;
	top: 0px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_g_Class {
	position: absolute;
	left: 127.999px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Separator_g {
	width: 132px;
	height: 3px;
	position: absolute;
	overflow: visible;
	transform: translate(-145.666px, -90px) matrix(1,0,0,1,326.6655,197) rotate(90deg);
	transform-origin: center;
}
.Prices_Area_g_Class {
	position: absolute;
	width: 248.5px;
	height: 191px;
	left: 801px;
	top: 0px;
	overflow: visible;
}
.Lowest_Ask_Area_ha_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 0px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_hb_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_hc {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hd_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_he_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_hf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hg_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_hh_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_hi {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hj_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_hk_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_hl {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hm_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_Area_hn_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 119px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_ho_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_hp {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hq_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_hr_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_hs {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ht_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_hu_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_hv {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hw_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_hx_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_hy {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_hz_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Lowest_Ask_h_Class {
	position: absolute;
	left: 9.999px;
	top: 0px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_h_Class {
	position: absolute;
	left: 128px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Separator_h {
	width: 132px;
	height: 3px;
	position: absolute;
	overflow: visible;
	transform: translate(-145.666px, -90px) matrix(1,0,0,1,326.6655,197) rotate(90deg);
	transform-origin: center;
}
.Prices_Area_h_Class {
	position: absolute;
	width: 248.5px;
	height: 191px;
	left: 1065px;
	top: 0px;
	overflow: visible;
}
.Lowest_Ask_Area_h_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 0px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_h_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_h {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_h_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_h_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_ia {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ia_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_ib_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_ic {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_id_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_ie_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_if {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ig_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_Area_ih_Class {
	position: absolute;
	width: 111px;
	height: 165px;
	left: 119px;
	top: 26px;
	overflow: visible;
}
.Flight_Club_Price_ii_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 128px;
	overflow: visible;
}
.Rectangle_ij {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_ik_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Stadium_Goods_Price_il_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
.Rectangle_im {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_in_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Goat_Price_io_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
.Rectangle_ip {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_iq_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.StockX_Price_ir_Class {
	position: absolute;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_is {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 37px;
	left: 0px;
	top: 0px;
}
.Price_it_Class {
	position: absolute;
	left: 8px;
	top: 9px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(29,29,29,1);
}
.Lowest_Ask_iu_Class {
	position: absolute;
	left: 10px;
	top: 0px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Highest_Bid_iv_Class {
	position: absolute;
	left: 128px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Separator_iw {
	width: 132px;
	height: 3px;
	position: absolute;
	overflow: visible;
	transform: translate(-145.666px, -90px) matrix(1,0,0,1,326.6655,197) rotate(90deg);
	transform-origin: center;
}
.Store_Icons_Class {
	position: absolute;
	width: 76px;
	height: 153px;
	left: 0px;
	top: 117px;
	overflow: visible;
}
.Flight_Club_Class {
	position: absolute;
	width: 74px;
	height: 14px;
	left: 0px;
	top: 139px;
	overflow: visible;
}
.Stadium_Goods_Class {
	position: absolute;
	width: 74px;
	height: 29px;
	left: 2px;
	top: 89px;
	overflow: visible;
}
.Goat_Icon_Class {
	position: absolute;
	width: 71px;
	height: 28px;
	left: 2px;
	top: 46px;
	overflow: visible;
}
.StockX_Class {
	position: absolute;
	width: 71px;
	height: 38px;
	left: 2px;
	top: 0px;
	overflow: visible;
}
.ID6_5_Class {
	opacity: 0.3;
	position: absolute;
	left: 944px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 71px;
	margin-top: -6.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	color: rgba(0,0,0,1);
}
.ID6_Class {
	opacity: 0.3;
	position: absolute;
	left: 707px;
	top: 0px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 71px;
	margin-top: -6.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	color: rgba(0,0,0,1);
}
.ID5_5_Class {
	opacity: 0.3;
	position: absolute;
	left: 416px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 71px;
	margin-top: -6.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	color: rgba(0,0,0,1);
}
.ID5_Class {
	opacity: 0.3;
	position: absolute;
	left: 0px;
	top: -80px;
	overflow: visible;
	width: 240px;
	white-space: nowrap;
	line-height: 71px;
	margin-top: -6.5px;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	color: rgba(0,0,0,1);
}
.Scroll_Bar_2 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 26px;
	left: 84px;
	top: 293px;
}
.Product_Card_1_Class {
	position: absolute;
	width: 1212px;
	height: 241px;
	left: 63px;
	top: 171px;
	overflow: auto;
	overflow-y: hidden;
}
.Product_Card_1_i_Class {
	position: absolute;
	width: 210px;
	height: 210px;
	left: 8.941px;
	top: 6px;
	overflow: visible;
}
.Rectangle_i {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 227.941px;
	height: 228px;
	left: 0.059px;
	top: 0px;
}
.Side_Rectangle {
	overflow: visible;
	position: absolute;
	width: 5.059px;
	height: 196px;
	left: 0px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
.Price_Change_Class {
	position: absolute;
	left: 102.363px;
	top: 185px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(253,53,53,1);
}
.Price_jc_Class {
	position: absolute;
	left: 17.363px;
	top: 187px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(29,29,29,1);
}
.Style_Code_Class {
	position: absolute;
	left: 17.5px;
	top: 165px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	line-height: 17px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(29,29,29,1);
}
.Title_je_Class {
	position: absolute;
	left: 17.5px;
	top: 132px;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	line-height: 17px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(29,29,29,1);
}
.Product_Image_Class {
	position: absolute;
	width: 118px;
	height: 118px;
	left: 45.559px;
	top: 9.146px;
	overflow: visible;
}
.Scroll_Bar_1 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 26px;
	left: 72px;
	top: 399px;
}
.Search_Bar_Class {
	position: absolute;
	width: 350px;
	height: 36px;
	left: 469px;
	top: 114px;
	overflow: visible;
}
.Search_Bar_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 54px;
	left: 0px;
	top: 0px;
}
.Search_Text_Class {
	opacity: 0.66;
	position: absolute;
	left: 44px;
	top: 8px;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Magnifying_Glass_Icon_Class {
	opacity: 0.66;
}
.Magnifying_Glass_Icon {
	overflow: visible;
	position: absolute;
	width: 17.337px;
	height: 17.337px;
	left: 17.715px;
	top: 9.124px;
	transform: matrix(1,0,0,1,0,0);
}
.Header_Class {
	position: absolute;
	width: 1229.589px;
	height: 48px;
	left: 25.411px;
	top: 18.124px;
	overflow: visible;
}
.Settings_Icon_Class {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 1193.589px;
	top: 11.876px;
	overflow: visible;
}
.Red_Bar {
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 3px;
	left: 17.589px;
	top: 39.876px;
}
.Sales_Title_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 310px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -1px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	color: rgba(29,29,29,1);
}




.Product_Card_1_dy_Class {
	position: absolute;
	width: 210px;
	height: 210px;
	left: 8.941px;
	top: 6px;
	overflow: visible;
}
.Product_Card_1_dy_Class .Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 209.941px;
	height: 210px;
	left: 0.059px;
	top: 0px;
}
.Product_Card_1_dy_Class .Side_Rectangle {
	overflow: visible;
	position: absolute;
	width: 5.059px;
	height: 196px;
	left: 0px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
.Product_Card_1_dy_Class .Tracking_Class {
	position: absolute;
	left: 23px;
	top: 187px;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	line-height: 14px;
	margin-top: -3px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,167,78,1);
}
.Product_Card_1_dy_Class .Price_Class {
	position: absolute;
	left: 17.363px;
	top: 187px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	line-height: 14px;
	margin-top: -3px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(29,29,29,1);
}
.Product_Card_1_dy_Class .Size_Class {
	position: absolute;
	left: 17.5px;
	top: 166px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 17px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(29,29,29,1);
}
.Product_Card_1_dy_Class .Title_Class {
	position: absolute;
	left: 17.5px;
	top: 132px;
	overflow: visible;
	width: 180px;
	white-space: pre-wrap;
	line-height: 17px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(29,29,29,1);
}
.Product_Card_1_dy_Class .Product_Image_Class {
	border-radius: 10px;
	display: table;
	position: absolute;
	width: 118px;
	height: 118px;
	left: 45.559px;
	top: 9.146px;
	overflow: visible;

	display: flex;
  align-items: center;
  justify-content: center;
}
