.transition-colors {
	transition: 2s all linear;
}
.scrollable {
	transition: 25s all linear;
}

.mediaViewInfo {
	--web-view-name: Rewrite – Home;
	--web-view-id: Rewrite___Home;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Rewrite___Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Rewrite___Home_Class {
	position: absolute;
	width: 1287px;
	height: 795px;
	/* background-color: rgba(251,247,241,1); */
	overflow: hidden;
	--web-view-name: Rewrite – Home;
	--web-view-id: Rewrite___Home;
	--web-enable-deep-linking: true;
}
.Scrolling_Information_Banner_Class {
	position: absolute;
	width: 1287px;
	height: 31px;
	left: 0px;
	bottom: 0px;
	overflow: visible;
}
.Scrolling_Information_Rectangl {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	width: 1287px;
	height: 31px;
	position: absolute;
	overflow: visible;
	transform: translate(31px, -732px) matrix(1,0,0,1,-31,732) rotate(180deg);
	transform-origin: center;
}
._Atencion__Las_tiendas_de_los__Class {
	position: absolute;
	left: 65px;
	top: 5px;
	overflow: visible;
	width: 1210px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Warning_Icon {
	overflow: visible;
	position: absolute;
	width: 65px;
	height: 21.294px;
	left: 0px;
	top: 5.075px;
	transform: matrix(1,0,0,1,0,0);
}
.Todays_Schedule_Class {
	position: absolute;
	width: 428px;
	height: 510px;
	left: 831px;
	top: 150px;
	overflow: auto;
	overflow-x: hidden;
}
.Product_Card_Class {
	position: absolute;
	width: 427px;
	height: 450px;
	left: 0px;
	top: 44.266px;
	overflow: visible;
}
.Product_Card_ds_Class {
	position: absolute;
	width: 398px;
	height: 420px;
	left: 9px;
	top: 6px;
	overflow: visible;
}
.Product_Card_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 416px;
	height: 159;
	left: 0px;
	top: 0px;
}
.Play_Button {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 354px;
	top: 115.39px;
	transform: matrix(1,0,0,1,0,0);
}
._220_Class {
	position: absolute;
	right: 55px;
	top: 120px;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -4px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Ronnie_Fieg_x_New_Balance_1700_Class {
	position: absolute;
	left: 159px;
	top: 15px;
	overflow: visible;
	width: 215px;
	white-space: prewrap;
	line-height: 18px;
	margin-top: -1px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Product_Card_Image_Class {
	border-radius: 20px;
	display: table;
	position: absolute;
	width: 131px;
	height: 131px;
	left: 14.5px;
	top: 14.186px;
	overflow: visible;

	display: flex;
  align-items: center;
  justify-content: center;
}
.Product_Card_dy_Class {
	position: absolute;
	width: 398px;
	height: 159px;
	left: 9px;
	top: 180px;
	overflow: visible;
}
.Product_Card_Rectangle_dz {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 416px;
	height: 177px;
	left: 0px;
	top: 0px;
}
.Play_Button_d {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 354px;
	top: 115.39px;
	transform: matrix(1,0,0,1,0,0);
}
._220_d_Class {
	position: absolute;
	left: 297px;
	top: 120px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -6px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Ronnie_Fieg_x_New_Balance_1700_d_Class {
	position: absolute;
	left: 159px;
	top: 15px;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -1px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}
.Product_Card_Image_d_Class {
	position: absolute;
	width: 131px;
	height: 131px;
	left: 14.5px;
	top: 14.186px;
	overflow: visible;
}
.Schedule_Header_Class {
	position: absolute;
	width: 220.953px;
	height: 33px;
	left: 97.758px;
	top: 0px;
	overflow: visible;
}
.Schedule_Icon {
	overflow: visible;
	position: absolute;
	width: 25.594px;
	height: 29.25px;
	left: -15px;
	top: -2px;
	transform: matrix(1,0,0,1,0,0);
}
.Blue_Bar {
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 3px;
	left: 52.242px;
	top: 26.266px;
}
.January_28th_Class {
	position: absolute;
	left: 30px;
	top: 0px;
	overflow: visible;
	width: 400px;
	white-space: nowrap;
	line-height: 56px;
	margin-top: -14.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(29,29,29,1);
}
.Calendar_Class {
	position: absolute;
	width: 708px;
	height: 440px;
	left: 83px;
	top: 155px;
	overflow: visible;
}
.Calendar_Blue_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 237px;
	height: 440px;
	left: 0px;
	top: 0px;
}
.Calendar_White_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 471px;
	height: 439px;
	left: 237px;
	top: 0px;
}
.Left_Side_Calendar_Class {
	position: absolute;
	width: 172px;
	height: 347px;
	left: 31px;
	top: 57px;
	overflow: visible;
}
.Shocked_Class {
	position: absolute;
	width: 172px;
	height: 172px;
	left: 0px;
	top: 175px;
	overflow: visible;
}
.Thursday_Class {
	position: absolute;
	left: -31px;
	top: 121px;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
.ID27_Class {
	position: absolute;
	left: 14px;
	top: 0px;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 115px;
	color: rgba(255,255,255,1);
}
.Right_Side_Calendar_Class {
	position: absolute;
	width: 424px;
	height: 332px;
	left: 269px;
	top: 11px;
	overflow: visible;
}
.Calendar_Days_Class {
	position: absolute;
	width: 391px;
	height: 206px;
	left: 9px;
	top: 126px;
	overflow: visible;
}
.ID01_Class {
	position: absolute;
	left: 368px;
	top: 0px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID31_Class {
	position: absolute;
	left: 315px;
	top: 0px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID30_Class {
	position: absolute;
	left: 258px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID29_Class {
	position: absolute;
	left: 193px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Ellipse_337 {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 32px;
	left: 310px;
	top: 143px;
}
.ID28_Class {
	position: absolute;
	left: 129px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID27_en_Class {
	position: absolute;
	left: 66px;
	top: 0px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID26_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID02_Class {
	position: absolute;
	left: 0px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID03_Class {
	position: absolute;
	left: 65px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID04_Class {
	position: absolute;
	left: 127px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID05_Class {
	position: absolute;
	left: 193px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID06_Class {
	position: absolute;
	left: 258px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID07_Class {
	position: absolute;
	left: 316px;
	top: 37px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID08_Class {
	position: absolute;
	left: 367px;
	top: 37px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID09_Class {
	position: absolute;
	left: 0px;
	top: 74px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID10_Class {
	position: absolute;
	left: 66px;
	top: 74px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID11_Class {
	position: absolute;
	left: 130px;
	top: 74px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID12_Class {
	position: absolute;
	left: 195px;
	top: 74px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID13_Class {
	position: absolute;
	left: 259px;
	top: 74px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID14_Class {
	position: absolute;
	left: 315px;
	top: 74px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID15_Class {
	position: absolute;
	left: 368px;
	top: 74px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID16_Class {
	position: absolute;
	left: 1px;
	top: 111px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID17_Class {
	position: absolute;
	left: 66px;
	top: 111px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID18_Class {
	position: absolute;
	left: 128px;
	top: 111px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID19_Class {
	position: absolute;
	left: 194px;
	top: 111px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID20_Class {
	position: absolute;
	left: 258px;
	top: 111px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID21_Class {
	position: absolute;
	left: 317px;
	top: 111px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID22_Class {
	position: absolute;
	left: 367px;
	top: 111px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID23_Class {
	position: absolute;
	left: 0px;
	top: 148px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID24_Class {
	position: absolute;
	left: 64px;
	top: 148px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID25_Class {
	position: absolute;
	left: 127px;
	top: 148px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID26_fd_Class {
	position: absolute;
	left: 193px;
	top: 148px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID27_fe_Class {
	position: absolute;
	left: 259px;
	top: 148px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID28_ff_Class {
	position: absolute;
	left: 314px;
	top: 148px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID29_fg_Class {
	position: absolute;
	left: 367px;
	top: 148px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID30_fh_Class {
	position: absolute;
	left: 0px;
	top: 185px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID31_fi_Class {
	position: absolute;
	left: 66px;
	top: 185px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID01_fj_Class {
	position: absolute;
	left: 128px;
	top: 185px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID02_fk_Class {
	position: absolute;
	left: 193px;
	top: 185px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID03_fl_Class {
	position: absolute;
	left: 258px;
	top: 185px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID04_fm_Class {
	position: absolute;
	left: 314px;
	top: 185px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.ID05_fn_Class {
	position: absolute;
	left: 367px;
	top: 185px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.Header_Calendar_Class {
	position: absolute;
	width: 424px;
	height: 110px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Sun_Class {
	position: absolute;
	left: 0px;
	top: 84px;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.Mon_Class {
	position: absolute;
	left: 62px;
	top: 84px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.Tue_Class {
	position: absolute;
	left: 126px;
	top: 84px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.Wed_Class {
	position: absolute;
	left: 190px;
	top: 84px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.Thu_Class {
	position: absolute;
	left: 255px;
	top: 84px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.Fri_Class {
	position: absolute;
	left: 311px;
	top: 84px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.Sat_Class {
	position: absolute;
	left: 364px;
	top: 84px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(29,29,29,1);
}
.ID2020_Class {
	opacity: 0.66;
	position: absolute;
	left: 376px;
	top: 0px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(29,29,29,1);
}
.January_Class {
	position: absolute;
  left: -32px;
  top: 21px;
  overflow: visible;
  width: 471px;
  white-space: nowrap;
  text-align: center;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: rgba(29,29,29,1);
}
.Left_Arrow_Icon_Class {
	opacity: 0.66;
}
.Left_Arrow_Icon {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 245px;
	top: 199px;
	transform: matrix(1,0,0,1,0,0);
}
.Right_Arrow_Icon_Class {
	opacity: 0.66;
}
.Right_Arrow_Icon {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 681.453px;
	top: 199px;
	transform: matrix(1,0,0,1,0,0);
}
.Header_Class {
	position: absolute;
	width: 1227.217px;
	height: 48px;
	left: 21.783px;
	top: 18.124px;
	overflow: visible;
}
.Guides_Button_Class {
	position: absolute;
	width: 118px;
	height: 36px;
	left: 1109.217px;
	top: 11.876px;
	overflow: visible;
}
.Guides_Rectangle {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 36px;
	left: 0px;
	top: 0px;
}
.Guides_Class {
	position: absolute;
	left: 45.966px;
	top: 9.5px;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	/* text-align: center; */
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(91,182,187,1);
}
.Guide_Icon {
	overflow: visible;
	position: absolute;
	width: 17.874px;
	height: 17.874px;
	left: 20.088px;
	top: 8.292px;
	transform: matrix(1,0,0,1,0,0);
}
.Home_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -1px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(29,29,29,1);
}

.CalendarDayClickable:hover {
	cursor: pointer;
	opacity: 0.66;
}


.Fields_Class {
	position: absolute;
	width: 397px;
	height: 259px;
	left: 6px;
	top: 159px;
	overflow: auto;
	overflow-x: hidden;
}
.Initial_Pickup_Area_Class {
	position: absolute;
	width: 369px;
	height: 37px;
	left: 9px;
	top: 104px;
	overflow: visible;
}
.Initial_Pickup_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 387px;
	height: 39px;
	left: 0px;
	top: 16px;
}
.ID5_26_2020___10_00_02_PM_Class {
	position: absolute;
	left: 9px;
	top: 22px;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Resell_Prediction_Class {
	position: absolute;
	left: 9px;
	top: 0px;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Launch_Date_Area_Class {
	position: absolute;
	width: 369px;
	height: 37px;
	left: 9px;
	top: 52px;
	overflow: visible;
}
.Launch_Date_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 387px;
	height: 39px;
	left: 0px;
	top: 16px;
}
.ID5_26_2020___10_00_02_PM_d_Class {
	position: absolute;
	left: 9px;
	top: 22px;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Color_Class {
	position: absolute;
	left: 9px;
	top: 0px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Collection_Area_Class {
	position: absolute;
	width: 369px;
	height: 37px;
	left: 9px;
	top: 0px;
	overflow: visible;
}
.Collection_Rectangle {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 21px;
	left: 0px;
	top: 16px;
}
.Ronnies_Kid_Collection_Class {
	position: absolute;
	left: 9px;
	top: 22px;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Style_Code_Class {
	position: absolute;
	left: 9px;
	top: 0px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Initial_Pickup_Area_d_Class {
	position: absolute;
	width: 387px;
	height: 103px;
	left: 0px;
	top: 156px;
	overflow: visible;
}
.Repeat_Grid_5_Class {
	position: absolute;
	width: 387px;
	height: 93px;
	left: 0px;
	top: 10px;
	overflow: visible;
}
.Group_240_Class {
	position: absolute;
	width: 369px;
	height: 21px;
	left: 9px;
	top: 6px;
	overflow: visible;
}
.Initial_Pickup_Rectangle_d {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 21px;
	left: 0px;
	top: 0px;
}
._kith___new___balance___1700k__Class {
	position: absolute;
	left: 9px;
	top: 6px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Group_240_eb_Class {
	position: absolute;
	width: 369px;
	height: 21px;
	left: 9px;
	top: 35px;
	overflow: visible;
}
.Initial_Pickup_Rectangle_ec {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 387px;
	height: 39px;
	left: 0px;
	top: 0px;
}
._kith___new___balance___1700k__ed_Class {
	position: absolute;
	left: 9px;
	top: 6px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Group_240_ee_Class {
	position: absolute;
	width: 369px;
	height: 21px;
	left: 9px;
	top: 64px;
	overflow: visible;
}
.Initial_Pickup_Rectangle_ef {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 387px;
	height: 39px;
	left: 0px;
	top: 0px;
}
._kith___new___balance___1700k__eg_Class {
	position: absolute;
	left: 9px;
	top: 6px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Group_240_eh_Class {
	position: absolute;
	width: 369px;
	height: 21px;
	left: 9px;
	top: 93px;
	overflow: visible;
}
.Initial_Pickup_Rectangle_ei {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 387px;
	height: 39px;
	left: 0px;
	top: 0px;
}
._kith___new___balance___1700k__ej_Class {
	position: absolute;
	left: 9px;
	top: 4px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Keywords__4_Possible__Class {
	position: absolute;
	left: 18px;
	top: 0px;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(29,29,29,1);
}

.Site_List_Button_Class {
	position: absolute;
	width: 87px;
	height: 26px;
	left: 159px;
	top: 117px;
	overflow: visible;
}
.Site_List_Rectangle {
	position: absolute;
	overflow: visible;
	width: 87px;
	height: 26px;
	left: 0px;
	top: 0px;
}
.Site_List_Class {
	position: absolute;
	left: 29.892px;
	top: 6.853px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(91,182,187,1);
}
.Site_List_Icon {
	overflow: visible;
	position: absolute;
	width: 12.747px;
	height: 10.356px;
	left: 12.74px;
	top: 7.49px;
	transform: matrix(1,0,0,1,0,0);
}


.Fields_du_Class {
	position: absolute;
	width: 363.435px;
	/* height: 37px; */
	left: 0px;
	top: 0px;
	overflow: visible;
}
.SNKRS_EU_Class {
	position: absolute;
	left: 9px;
	top: 0px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3.5px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.ID1_AM_EST__Class {
	position: absolute;
	right: 65px;
	top: 0px;
	overflow: visible;
	/* width: 55px; */
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3.5px;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(29,29,29,1);
}
.Clip_Board_3_Class {
	position: absolute;
	width: 14.189px;
	height: 17.736px;
	left: 320.154px;
	top: 17.064px;
	overflow: visible;
}
.Path_441 {
	overflow: visible;
	position: absolute;
	width: 15.989px;
	height: 17.763px;
	left: 0px;
	top: 1.773px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_442 {
	overflow: visible;
	position: absolute;
	width: 8.895px;
	height: 5.348px;
	left: 3.547px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Pop_Out_3_Class {
	position: absolute;
	width: 18.368px;
	height: 18.736px;
	left: 345.067px;
	top: 17.064px;
	overflow: visible;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 11.431px;
	height: 11.363px;
	left: 6.938px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_d {
	overflow: visible;
	position: absolute;
	width: 16.071px;
	height: 16.507px;
	left: 0px;
	top: 2.229px;
	transform: matrix(1,0,0,1,0,0);
}
