.draggable {
  -webkit-app-region: drag;
}

.mediaViewInfo {
	--web-view-name: Rewrite – Loading Screen;
	--web-view-id: Rewrite___Loading_Screen;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Rewrite___Loading_Screen;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Rewrite___Loading_Screen_Class {
	position: absolute;
	width: 960px;
	height: 580px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Rewrite – Loading Screen;
	--web-view-id: Rewrite___Loading_Screen;
	--web-enable-deep-linking: true;
}
.Background_Class {
	position: absolute;
	width: 1031px;
	height: 580px;
	left: -71px;
	top: 0px;
	overflow: visible;
}
.Left_Side_Rectangle_Class {
	opacity: 0.95;
}
.Left_Side_Rectangle {
	position: absolute;
	overflow: visible;
	width: 385px;
	height: 580px;
	left: 0px;
	top: 0px;
}
.All_rights_reserved_Class {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  left: 0px;
  top: 541px;
  overflow: visible;
  width: 385px;
  white-space: nowrap;
  text-align: center;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(239,239,239,1);
  letter-spacing: -0.01px;
}
.Loading_Status_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	left: 23px;
	top: 312px;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(239,239,239,1);
	letter-spacing: -0.01px;
}
.Resell_Companion_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	left: 21px;
	top: 275px;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	line-height: 33px;
	margin-top: -1px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 900;
	font-size: 31px;
	color: rgba(239,239,239,1);
}
.Resell_Monster_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	left: 22px;
	top: 251px;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -11px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(239,239,239,1);
}
.Kuri_Icon_Class {
	position: absolute;
	width: 77px;
	height: 77px;
	left: 11px;
	top: 165px;
	overflow: visible;
}
.Close_Button_Class {
	position: absolute;
	width: 21px;
	height: 20px;
	left: 926px;
	top: 13px;
	overflow: visible;
}
.White_Circle {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 5px;
	top: 4px;
}
.Browser_Close_Button {
	overflow: visible;
	position: absolute;
	width: 21px;
	height: 20px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Version_Number_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	left: 196px;
	top: 16px;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(239,239,239,1);
	letter-spacing: -0.01px;
}
.User_Profile_Area_Class {
	position: absolute;
	width: 62.368px;
	height: 22.82px;
	left: 12px;
	top: 12px;
	overflow: visible;
}
.User_Profile_Name_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	left: 28.368px;
	top: 5px;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(239,239,239,1);
}
.User_Profile_Picture_Class {
  border-radius: 50%;
	position: absolute;
	width: 23.226px;
	height: 22.82px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
