.mediaViewInfo {
	--web-view-name: Captcha Solver;
	--web-view-id: Captcha_Solver;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Captcha_Solver;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#captchaContents {
	position: absolute;
	left: 12px;
	top: 30px;
	height: 674px;
	width: 390px;
	background-color: rgba(251,247,241,1);
}

#captchaFrame {
	visibility: hidden;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	min-height: 674px;
	min-width: 390px;
	background-color: rgba(251,247,241,1);
}


.spinner {
  animation: rotate 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;
  width: 100%;
  height: 100%;
}

.spinner .path {
	stroke-linecap: round;
	transition: all 0.5s ease-in-out;
	animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
		transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}


.Captcha_Solver_Class {
	position: absolute;
	width: 400px;
	height: 725px;
	/* background-color: rgba(251,247,241,1); */
	background-color: transparent;
	overflow: hidden;
	--web-view-name: Captcha Solver;
	--web-view-id: Captcha_Solver;
	--web-enable-deep-linking: true;
}
.Captcha_Solver_Window_Class {
	position: absolute;
	width: 423.767px;
	height: 725px;
	left: -11.678px;
	top: 0px;
	overflow: visible;
}
.Footer_Class {
	position: absolute;
	width: 390px;
	height: 22px;
	left: 11.678px;
	top: 703px;
	overflow: visible;
}
.Footer_Background_Rectangle {
	position: absolute;
	overflow: visible;
	width: 400px;
	height: 22px;
	left: 0px;
	top: 0px;
}
.Footer_Text_Class {
	position: absolute;
	left: 297px;
	top: 4px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: right;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(29,29,29,1);
}
.Google_Icon_Class {
	position: absolute;
	width: 21px;
	/* height: 28px; */
	left: 2px;
	top: -4px;
	overflow: visible;
}
.Blue_Bar rect {
	transition: all 0.5s ease-in-out;
}
.Blue_Bar {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 3px;
	left: 117px;
	top: 510px;
}
.Waiting____Class {
	position: absolute;
	left: 0px;
	top: 469px;
	overflow: visible;
	width: 390px;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	color: rgba(29,29,29,1);
}
.Loading_Circle_Class {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 0px;
	top: 83.229px;
	overflow: visible;
}
.Sleepy_Class {
	position: absolute;
	/* width: 221px; */
	height: 250px;
	/* left: 68.678px; */
	left: 85.678px;
	top: 156px;
	overflow: visible;
}
.Header_Class {
	position: absolute;
	width: 400px;
	height: 30px;
	left: 11.678px;
	top: 0px;
	overflow: visible;
}
.Header_Background {
	-webkit-app-region: drag;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 340px;
	height: 30px;
	left: 0px;
	top: 0px;
}
.Window_Buttons_Class {
	position: absolute;
	width: 74px;
	height: 40px;
	left: 326px;
	top: 0px;
	overflow: visible;
}
.Window_Buttons_Background {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Close_Icon {
	-webkit-app-region: no-drag;
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 43.555px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
.Minimize_Icon {
	-webkit-app-region: no-drag;
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 12.443px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
.Captcha_Solver_d_Class {
	position: absolute;
	left: 0px;
	top: 7px;
	overflow: visible;
	width: 100%;
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(29,29,29,1);
}

.Captcha_Solver_Number_Class {
	opacity: 0.66;
	position: absolute;
	left: 10px;
	top: 2px;
	overflow: visible;
	/* width: 123px; */
	white-space: nowrap;
	text-align: center;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(29,29,29,1);
}
